.container {
  max-width: 800;
  margin: 0 auto;
  padding-top: 3rem;
}

h1 {
  text-align: center;
}

.red {
  background: red;
  font-weight: 100;
  font-size: 2rem;
}

.blue {
  background-color: blue;
  font-weight: bold;
}
